body {
  font-family: sans-serif;
  font-size: 2rem;
}


.square {
  background: white;
  border: 1px solid #999999;
  font-size: 4rem;
  font-weight: bold;

  float: left;

  line-height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  width: 8rem;
  height: 8rem;

}

.status {
  margin-bottom: 1rem;
}

.game-info {
  margin-left: 2rem;
}

.game-info button {
  font-size: 2rem;
}

.game {
  display: flex;
  align-items: center;
  height: 50rem;
  justify-content: center;
}


/* Media Query start */
@media only screen and (max-width: 600px) { /* Portrait tablets and large phones. */

  body {
    font-size: 1rem;

  }

  .game-info button {
    font-size: 1rem;
  }

  .square {
    font-size: 4rem;

    float: left;

    line-height: 4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;

    width: 2rem;
    height: 2rem;

  }

  .game {
    display: flex;
    align-items: center;
    height: 50rem;
    justify-content: center;
  }
}